body, html {
    font-family: 'Kiwi Maru', serif;
    background: radial-gradient(circle, rgba(174,238,180,1) 27%, rgba(228,152,51,1) 78%);
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.active {
    color: pink;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #B7C3F3;
    margin-top: -1px;
    width: 100vw;
    height: 10vh;
    padding-bottom: 0px;
    padding-top: 20px;
}

.who-text {
    width: 50vw;
    height: 80vh;
    padding: 3vw;
    font-size: 16px;
    padding-top: 5px;
    text-align: center;
}

.Body-shot {
    max-width:100%;
    max-height:100%;
}

.Body-holder {
    margin-left: 5vw;
    width: 800px;
    height: 800px;
    overflow: hidden;
}

.who-page {
    color: rgb(0, 0, 0);
    font-weight: 600;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.Sec-Title {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 10px;
}

.Sec-Text {
    padding: 10px;
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center;
    margin-bottom: 10px;
}